<style>
    table tr {
        border: 1px solid #ccc;
    }
</style>



<div class="col-lg-12">
    <div class="tab-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one"
                    type="button" role="tab" aria-controls="tab-one" aria-selected="true">Product Details </button>
            </li>
        </ul>
    </div>
    <!--End nav-tabs-->
    <div class="tab-content wow fadeIn animated" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
            <div class="row product-grid-4">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">


                    <div class="container mt-5 border border-2 bg-success-subtle" id="printableArea">
                        <div class="row">
                            <div class="col-md-6"><br>
                                <h2 class="fw-bold mb-3">Product Details</h2>
                                <% orders.forEach(element=> { %>
                                    <div class="shipping-address mb-5">
                                        <h4 class="mb-3">Shipping Address:</h4>
                                        <p>
                                            <%= element.deliveryDetails.name %>
                                        </p>
                                        <p>
                                            <%= element.deliveryDetails.mobile %>
                                        </p>
                                        <p>
                                            <%= element.deliveryDetails.streetaddress %>
                                        </p>
                                        <p>
                                            <%= element.deliveryDetails.town %>
                                        </p>
                                        <p>
                                            <%= element.deliveryDetails.state %>
                                        </p>
                                        <p>
                                            <%= element.deliveryDetails.zip %>
                                        </p>
                                    </div>

                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <!-- <img src="/images/cv6.png" class="img-fluid" style="max-width: 100%; height: auto; height: 55px; width:200px" alt="Logo here" /> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col" class="text-right">Quantity</th>
                                                <th scope="col" class="text-right">Category</th>
                                                <th scope="col" class="text-right">Price</th>
                                                <th scope="col" class="text-right">Total</th>
                                                <th scope="col" class="text-right">Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%= product.item.productname %>
                                                </td>
                                                <td class="text-right">
                                                    <%= product.quantity %>
                                                </td>
                                                <td class="text-right">
                                                    <%= product.item.producttype %>
                                                </td>
                                                <td class="text-right">&#8377; <%= product.item.price %>
                                                </td>
                                                <td class="text-right">&#8377; <%= element.totalAmount %>
                                                </td>
                                                <td><img width="50px" height="50px"
                                                        src="/uploads/<%= product.item.images[0] %>" alt="Product Image"
                                                        width="100" height="100"></td>

                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <!--End product-grid-4-->
        </div>
    </div>
    <!--End tab-content-->
    <!--End tab-content-->
</div>
</div>