<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="/userstyle/assets/imgs/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/userstyle/assets/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/userstyle/assets/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/userstyle/assets/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/userstyle/assets/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/userstyle/assets/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/userstyle/assets/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="/userstyle/assets/imgs/shop/thumbnail-3.jpg" alt="product image">
                                    </div>
                                    <div><img src="/userstyle/assets/imgs/shop/thumbnail-4.jpg" alt="product image">
                                    </div>
                                    <div><img src="/userstyle/assets/imgs/shop/thumbnail-5.jpg" alt="product image">
                                    </div>
                                    <div><img src="/userstyle/assets/imgs/shop/thumbnail-6.jpg" alt="product image">
                                    </div>
                                    <div><img src="/userstyle/assets/imgs/shop/thumbnail-7.jpg" alt="product image">
                                    </div>
                                    <div><img src="/userstyle/assets/imgs/shop/thumbnail-8.jpg" alt="product image">
                                    </div>
                                    <div><img src="/userstyle/assets/imgs/shop/thumbnail-9.jpg" alt="product image">
                                    </div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="/userstyle/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    </li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="/userstyle/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    </li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="/userstyle/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    </li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="/userstyle/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
                                        rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>

                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Yellow"><span
                                                    class="product-color-yellow"></span></a></li>
                                        <li class="active"><a href="#" data-color="White"><span
                                                    class="product-color-white"></span></a></li>
                                        <li><a href="#" data-color="Orange"><span
                                                    class="product-color-orange"></span></a></li>
                                        <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Purple"><span
                                                    class="product-color-purple"></span></a></li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                            href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                            rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-4 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#">
                                        Hi
                                        <%= user %>

                                    </a>
                                </li>
                                <li>
                                    <% if(typeof user!=='undefined' ) { %>
                                        <a class="language-dropdown-active" href="#">Settings <i
                                                class="fi-rs-world"></i><i class="fi-rs-angle-small-down"></i></a>
                                        <ul class="language-dropdown">
                                            <li><a href="/user/user-profile"><i
                                                        class="bi bi-person-circle"></i>Profile</a></li>
                                            <li><a href="/user/user-homeaddress"><i
                                                        class="bi bi-house-fill"></i>Address</a></li>
                                            <li><a href="/user/order-view"><i class="bi bi-bag-dash-fill"></i>Orders</a>
                                            </li>
                                            <li><a href="/user/user-wallet"><i class="bi bi-wallet-fill"></i> Wallet</a>
                                            </li>
                                        </ul>
                                        <% } %>
                                </li>
                                <% if(typeof user==='undefined' ) { %>
                                    <li><i class="fi-rs-user"></i><a href="/user/user-login">Log In / Sign Up</a></li>
                                    <% } else { %>
                                        <li><i class="fi-rs-user"></i><a href="/user/user-logout">Log Out</a></li>
                                        <% } %>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/userstyle/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <!-- <form action="#">
                            </form> -->
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <!-- <a href="shop-wishlist.html">
                                    </a> -->
                                </div>
                                <div class="header-action-icon-2">
                                    <% if (locals.cartCount ){%>
                                        <a class="mini-cart-icon" href="/user/cart">
                                            <img alt="Evara" src="/userstyle/assets/imgs/theme/icons/icon-cart.svg">
                                            <span class="pro-count blue" id="cartCount">
                                                <%=locals.cartCount%>
                                            </span>
                                        </a>
                                        <%}%>

                                            <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                      
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/userstyle/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li class="has-children">
                                    <li><a href="/user/womens"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                                    <!-- <div class="dropdown-menu">
                                            
                                        </div> -->
                                    </li>
                                    <li class="has-children">
                                    <li><a href="/user/mens"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                                    <!-- <div class="dropdown-menu">
                                            
                                        </div> -->
                                    </li>
                                    <li class="has-children">
                                    <li><a href="/user/kids"><i class="evara-font-teddy-bear"></i> Kids</a></li>
                                    <!-- <div class="dropdown-menu">
                                           
                                        </div> -->
                                    </li>
                                   
                                    <li><a href="/user/user-index"><i class="evara-font-diamond"></i>All Categories</a>
                                    </li>

                                    <li>
                                        <ul class="more_slide_open" style="display: none;">
                                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Beauty,
                                                    Health</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Bags and
                                                    Shoes</a></li>
                                            <li><a href="shop-grid-right.html"><i
                                                        class="evara-font-diamond"></i>Consumer Electronics</a></li>
                                            <li><a href="shop-grid-right.html"><i
                                                        class="evara-font-home"></i>Automobiles & Motorcycles</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- <div class="more_categories">Show more...</div> -->
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="activ" href="/user/user-index">Home </i></a>
                                        <!-- <ul class="sub-menu">
                                           
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="/user/mens">Mens</a>
                                    </li>
                                    <li><a href="/user/womens">Womens</a>
                                        <!-- <ul class="sub-menu">
                                           
                                        </ul> -->
                                    </li>
                                    <li class="position-static"><a href="/user/kids">Kids </a>
                                        <!-- <ul class="mega-menu">
                                           
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="/user/user-profile">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <!-- <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p> -->
                    </div>
                    <!-- <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%
                    </p> -->
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <!-- <a href="shop-wishlist.html">
                                   
                                </a> -->
                            </div>
                            <div class="header-action-icon-2">
                                <% if (locals.cartCount){%>
                                    <a class="mini-cart-icon" href="/user/cart">
                                        <img alt="Evara" src="/userstyle/assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue" id="cartCount">
                                            <%=locals.cartCount%>
                                        </span>
                                    </a>
                                    <%}%>
                                        <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                   
                                </div> -->
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <h6>Let's Shop</h6>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                  
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="/user/womens"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="/user/mens"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li><a href="/user/kids"><i class="evara-font-teddy-bear"></i> Kids</a></li>
                                <li><a href="/user/user-index"><i class="evara-font-cpu"></i>All Categories</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/user/user-index">Home</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/user/mens">Mens</a>
                            </li>
                            <li class="/user/womens"><span class="menu-expand"></span><a href="#">Womens</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/user/kids">Kids</a>
                            
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <%if(locals.user==false){%>
                            <a href="/user/user-login">Log In / Sign Up</a>
                            <%}else{%>
                                <a href="/user/user-logout">Log Out</a>
                                <%}%>

                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/userstyle/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/userstyle/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/userstyle/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/userstyle/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/userstyle/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/user/address" rel="nofollow">Your Orders</a>
                    <!-- <span></span> Shop
                    <span></span> Your Cart -->
                </div>
            </div>
        </div>
        <section class="mt-50 mb-25">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive table-bordered">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Size</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (Array.isArray(cartItems)) { %>
                                        <% cartItems.forEach(element=> { %>
                                            <tr>
                                                <td>
                                                    <img class="img-fluid rounded" style="width: 50px; height: 50px;"
                                                        src="/uploads/<%= element.productInfo.images[0] %>" alt="" />
                                                </td>
                                                <td>
                                                    <%= element.productInfo.productname %>
                                                </td>
                                                <td>
                                                    <%= element.quantity %>
                                                </td>
                                                <td>
                                                    <%= element.size %>
                                                </td>
                                                <td>₹<%= element.currentPrice * element.quantity %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } %>
                                <tbody>
                            </table>
                        </div>
                        <div class="cart-action">
                            <div class="mb-30 mt-50">
                                <div class="heading_s1 mb-3">
                                    <h4>Have a Coupon?</h4>
                                </div>
                                <div class="total-amount">
                                    <div class="left">
                                        <div class="coupon">
                                            <form action="#" target="_blank">
                                                <div class="form-row row justify-content-center">
                                                    <div class="form-group col-lg-6">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="couponId"
                                                                placeholder="Enter your coupon code">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary rounded-0" type="button"
                                                                    id="apply-coupon-btn"
                                                                    onclick="applyCoupon()">Apply</button>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <p class="text-danger mb-0"><span id="message"></span></p>
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="container pb-25">
                                    <h4>Available Coupons</h4><br>
                                    <div class="row">
                                        <% coupons.forEach(coupon=> { %>
                                            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                                                <div class="banner-features wow fadeIn animated hover-up">
                                                    <h4 class="bg-1">
                                                        <%= coupon.couponCode %>
                                                    </h4>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-25 mb-50">
            <div class="container">
                <form action="#" id="checkout-form" class="billing-form"
                    style="background-color: #fdfbfb; padding: 20px;">
                    <div class="row">

                        <a href="/user/saveaddress"><button type="button" class="btn btn-primary"
                                id="add-address-btn">Edit/Add New
                                Address</button></a>
                        <!-- <div class="col-lg-6 mb-sm-15">
                       
                    </div> -->
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="divider mt-50 mb-50">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-25">
                                <h4>Billing Details</h4>
                            </div>
                            <div class="container" id="address-list">
                                <div class="row">
                                    <% if (Array.isArray(address)) { %>
                                        <% for (let i=0; i < address.length; i++) { %>
                                            <div class="col-sm-12 col-md-8 offset-md-2">
                                                <div class="card mx-auto w-100 card-hover-shadow mb-4"
                                                    style="max-width: 100% !important;">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="address" id="address<%= i %>"
                                                                        value="<%= address[i]._id %>" <% if (i==0) { %>
                                                                    checked <% } %>>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <h5 class="card-title mb-1">
                                                                    <%= address[i].name %>
                                                                </h5>
                                                                <p class="card-text mb-1">
                                                                    <%= address[i].streetaddress %>
                                                                </p>
                                                                <p class="card-text mb-1">
                                                                    <%= address[i].appartment %>
                                                                </p>
                                                                <p class="card-text mb-1">
                                                                    <%= address[i].state %>
                                                                </p>
                                                                <p class="card-text mb-1">
                                                                    <%= address[i].town %>
                                                                </p>
                                                                <p class="card-text mb-0">
                                                                    <%= address[i].zip %>
                                                                </p>
                                                                <p class="card-text mt-1 mb-0">Phone: +91 <%=
                                                                        address[i].mobile %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="order_review">

                                <div class="table-responsive order_table text-center">
                                    <div class="border p-md-4 p-30 border-radius cart-totals">
                                        <div class="heading_s1 mb-3">
                                            <h3>Cart Totals</h3>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="cart_total_label">Cart Subtotal</td>
                                                        <td class="cart_total_amount"><span
                                                                class="font-lg fw-900 text-brand" id="totalPrice">
                                                                ₹<%=total[0].total %>
                                                            </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cart_total_label">Tax</td>
                                                        <td class="cart_total_amount"> <span
                                                                class="font-lg fw-900 text-brand" id="adTax">
                                                                ₹<%= total[0].totalTax %>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cart_total_label">Discount</td>
                                                        <td class="cart_total_amount">
                                                            <% if (locals.discountAmount) { %>
                                                                <span class="font-lg fw-900 text-brand"
                                                                    id="couponDiscount">₹ -<%= locals.discountAmount %>
                                                                </span>
                                                                <% } else { %>
                                                                    <span class="font-lg fw-900 text-brand"
                                                                        id="couponDiscount">0</span>
                                                                    <% } %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cart_total_label">Total</td>
                                                        <td class="cart_total_amount"><strong>
                                                                <% if (locals.discountAmount) { %>
                                                                    <span class="font-lg fw-900 text-brand"
                                                                        id="taxWithTotal">₹ <%= total[0].totalWithTax -
                                                                            locals.discountAmount %></span>

                                                                    <% } else { %>
                                                                        <span class="font-lg fw-900 text-brand"
                                                                            id="taxWithTotal">₹ <%=
                                                                                total[0].totalWithTax %></span>
                                                                        <% } %>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="d-flex justify-content-center">
                                    <div class="payment_method">
                                        <div class="mb-25">
                                            <h3>Payment Method</h3>
                                        </div>
                                        <div class="payment_option">
                                            <div class="radio">
                                                <label><input type="radio" name="payment-method" value="COD"
                                                        class="mr-2">
                                                    COD</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="payment-method" value="RazorPay"
                                                        class="mr-2">
                                                    RazorPay</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="payment-method" value="Wallet"
                                                        class="mr-2"> Wallet</label>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="mb-25">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="terms-checkbox" value="" class="mr-2"> I have
                                            read and accept the terms and conditions</label>
                                    </div>
                                    <div id="terms-message" class="text-danger mt-2" style="display:none;">Please accept
                                        the
                                        terms and conditions to proceed.</div>
                                </div>
                                <button id="place-order-button" class="btn btn-primary py-3 px-4" type="submit">Place an
                                    order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="featured section-padding">
            <div class="container pb-25">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor JS-->


    <script src="/userstyle/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/userstyle/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/userstyle/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/userstyle/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/userstyle/assets/js/plugins/slick.js"></script>
    <script src="/userstyle/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/userstyle/assets/js/plugins/wow.js"></script>
    <script src="/userstyle/assets/js/plugins/jquery-ui.js"></script>
    <script src="/userstyle/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/userstyle/assets/js/plugins/magnific-popup.js"></script>
    <script src="/userstyle/assets/js/plugins/select2.min.js"></script>
    <script src="/userstyle/assets/js/plugins/waypoints.js"></script>
    <script src="/userstyle/assets/js/plugins/counterup.js"></script>
    <script src="/userstyle/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/userstyle/assets/js/plugins/images-loaded.js"></script>
    <script src="/userstyle/assets/js/plugins/isotope.js"></script>
    <script src="/userstyle/assets/js/plugins/scrollup.js"></script>
    <script src="/userstyle/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/userstyle/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/userstyle/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/userstyle/assets/js/main.js"></script>
    <script src="/userstyle/assets/js/shop.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <style>
        .table-bordered {
            border: 1px solid #ddd;
        }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #ddd;
        }

        .payment_option input[type="radio"] {
            width: 16px;
            /* set the width of the radio button */
            height: 16px;
            /* set the height of the radio button */
        }

        .payment_method label {
            font-family: Arial, sans-serif;
            /* set the font family */
            font-size: 14px;
            /* set the font size */
            font-weight: bold;
            /* set the font weight */
            color: #333;
            /* set the text color */
        }

        .payment_option label {
            display: inline-flex;
            /* display the label as a flex container */
            align-items: center;
            /* vertically center the label content */
            margin-bottom: 10px;
            /* add some spacing between the radio buttons */
        }

        .payment_option input[type="radio"] {
            margin-right: 10px;
            /* add some spacing between the radio button and the text */
        }

        .checkbox label {
            display: inline-flex;
            /* display the label as a flex container */
            align-items: center;
            /* vertically center the label content */
            font-size: 14px;
            /* set the font size */
            color: #333;
            /* set the text color */
        }

        .checkbox input[type="checkbox"] {
            width: 16px;
            /* set the width of the checkbox */
            height: 16px;
            /* set the height of the checkbox */
            margin-right: 5px;
            /* add some spacing between the checkbox and the text */
        }

    .swal2-icon .swal2-icon-content {
        font-size: 0.75em;
    }
    </style>


    <script>

        const placeOrderButton = document.getElementById("place-order-button");
        const termsCheckbox = document.getElementById("terms-checkbox");
        const termsMessage = document.getElementById("terms-message");

        placeOrderButton.addEventListener("click", function (event) {
            if (!termsCheckbox.checked) {
                event.preventDefault();
                termsMessage.style.display = "block";
                termsMessage.scrollIntoView({ behavior: "smooth", block: "center" });
            } else {
                termsMessage.style.display = "none";
            }

            const paymentMethods = document.getElementsByName("payment-method");
            let paymentSelected = false;
            for (let i = 0; i < paymentMethods.length; i++) {
                if (paymentMethods[i].checked) {
                    paymentSelected = true;
                    break;
                }
            }

            if (!paymentSelected) {
                event.preventDefault();
                Swal.fire({
                    position: 'top-end',
                    icon: 'info',
                    title: 'Please select a payment method to proceed',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })


        $("#checkout-form").submit((e) => {
            e.preventDefault();
            $.ajax({
                url: '/user/address',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    if (response.codSuccess) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Order has been Placed',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            window.location.replace("/user/order-Placed");
                        });
                    } else if (response.walletSuccess == true) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Order has been Placed',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            window.location.replace("/user/order-Placed");
                        });

                    } else if (response.walletSuccess == false) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'info',
                            title: 'Insuffiecient Ballance',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    } else {
                        razorpayPayment(response)
                    }
                }
            });
        });


        function razorpayPayment(order) {
            var options = {
                "key": "rzp_test_GONPmXAm31JGnl", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Shopping Cart",
                "description": "Test Transaction",
                "image": "",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature)
                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#243247"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                //  alert(response.error.code);
                //  alert(response.error.description);
                //  alert(response.error.source);
                //  alert(response.error.step);
                //  alert(response.error.reason);
                //  alert(response.error.metadata.order_id);
                //  alert(response.error.metadata.payment_id);
                verifyPayment(response, order)
            });
            rzp1.open();
        }

        function verifyPayment(payment, order) {
            console.log('inside payment')
            // showLoader()
            $.ajax({
                url: '/user/verify-payment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        alert('payment success')
                        // hideLoader()
                        location.href = '/user/order-Placed'
                    } else {
                        // alert("payment failed")
                        // hideLoader()
                        location.href = '/user/payment-failed'
                    }
                }
            })
        }

        function applyCoupon() {
            let couponInput = document.getElementById('couponId');
            let message = document.getElementById('message');
            let couponId = document.getElementById('couponId').value;
            let total = document.getElementById('taxWithTotal').innerHTML;
            console.log(total, '....')
            console.log(couponId, 'iddddddd')
            if (couponId.trim().length === 0) {
                document.getElementById("message").innerHTML = "Enter coupon code";
            } else {
                $.ajax({
                    url: '/user/apply-coupon',
                    data: {
                        couponId: couponId,
                        total: total
                    },
                    method: 'post',
                    success: (response) => {

                        console.log(response)
                        if (response.success == false) {
                            document.getElementById("message").innerHTML = response.message;

                            //  document.getElementById("taxWithTotal").innerHTML = total;
                        } else if (response.success == true) {
                            console.log(response.discountAmount);
                            console.log(response.cartTotal, '/////////');
                            console.log(response.cartTotal - response.discountAmount, '????????')

                            // Update the content of the #couponDiscount element with the discounted amount
                            if (response.discountAmount) {
                                document.getElementById("couponDiscount").innerHTML = `₹${response.discountAmount}`;
                                document.getElementById("taxWithTotal").innerHTML = `₹${response.cartTotal - response.discountAmount}`;
                            } else {
                                document.getElementById("couponDiscount").innerHTML = "";
                            }
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Coupon Applied',
                                showConfirmButton: false,
                                timer: 1500
                            })

                        }

                    }
                });

            }
        }
    </script>

</body>

</html>